body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;

    /* background */
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle farthest-side at 0% 50%,
        #282828 23.5%,
        rgba(255, 170, 0, 0) 0
    )
    21px 30px,
    radial-gradient(
        circle farthest-side at 0% 50%,
        #2c3539 24%,
        rgba(240, 166, 17, 0) 0
    )
    19px 30px,
    linear-gradient(
        #282828 14%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 85%,
        #282828 0
    )
    0 0,
    linear-gradient(
        150deg,
        #282828 24%,
        #2c3539 0,
        #2c3539 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #2c3539 0,
        #2c3539 76%,
        #282828 0
    )
    0 0,
    linear-gradient(
        30deg,
        #282828 24%,
        #2c3539 0,
        #2c3539 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #2c3539 0,
        #2c3539 76%,
        #282828 0
    )
    0 0,
    linear-gradient(90deg, #2c3539 2%, #282828 0, #282828 98%, #2c3539 0%) 0 0
    #282828;
    background-size: 40px 60px;
}

nav {
    background-color: #161616;
    padding: 0;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1000;
}

footer {
    background-color: #161616;
    text-align: center;
    padding: 20px 0;
    color: #fff;
    position: bottom;
}

footer p {
    margin: 0;
}

button{
    background-color: #161616;
    border: none;
    color: white;
    font-size: 16px ;
    display: flex;
    padding: 5px 10px;
    margin: 15px 20px;
    border-radius: 2px;
    align-items: center;
}

button:hover{
    transform: scale(1.05);
    background-color: #636262;
    transition: background-color 0.3s;
    cursor: pointer;
}

footer > img{
    width: 20%;
    height: auto;
}

div > span{
    text-align: center;
}

a{
    color: rgb(100, 128, 255);
}

div > h2{
    text-align: left;
}

iframe{
    margin-top: 20px;
}

p > img{
    width: 20px;
    height: 13px;
}

.headline {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: bold;
}

.headline h2 {
    font-size: 48px;
    margin: 0;
}

.headline::after{
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    padding: 40px 5rem;
    margin: 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #1e1e1e;
    border-radius: 8px;
    margin: 6px 5px;
    padding: 16px;
    width: calc(33% - 40px);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card h3 {
    color: #ffffff;
}

.card p {
    line-height: 1.6;
}

.text{
    max-width: 35%;
    margin: 30px;
    padding: 15px 30px;
    background-color: rgb(31, 33, 40);
    float: left;
    padding-bottom: 30px;
    border-radius: 8px;
    line-height: 1.4;
    transition: transform 0.3s;
    margin-left: 90px;
}

.text:hover{
    transform: scale(1.05);
}
.game {
    margin: 6px 5px;
    padding: 10px 20px ;
    background-color: #1e1e1e;
    border-radius: 8px;
    width: 20rem;
    font-size: small;
    line-height: 20px;
    transition: transform 0.3s;
    width: 220px;
}
.game:hover{
    transform: scale(1.05);
}


.news{
    max-width: 35%;
    margin: 30px;
    padding: 15px 30px;
    background-color: rgb(31, 33, 40);
    float: right;
    line-height: 1.4;
    border-radius: 8px;
    transition: transform 0.3s;
    margin-right: 90px;
}
.news:hover{
    transform: scale(1.05);
}

.headline2{
    align-content: center;
    text-align: center;
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 20px;
    margin: 0;
}

.h2headline {
    font-size: 50px;
    color: #fff;
    text-align: left;
    margin-left: 100px;
    margin-top: 20px;
}

.carousel {
    width: 100%;
    height: 650px;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}
  
.slide > img {
    display: block;
    width: 100%;
    height: 650px;
    object-fit: cover;
    object-position: center;
    scale: 0.9;
    border-radius: 5px;
}
  
.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.section-align {
    display: flex;
    justify-content: left;
    align-items: left;
    float:inline-start;
    padding: 1rem;
    padding-right: 0;
    margin: -20px;
    margin-left: 1rem;
}

.button-align {
    display: flex;
    justify-content: center;
    align-items: center;
    float: inline;
}
.language-button-algin {
    display: flex;
    justify-content: center;
    align-items: center;
    float: inline;
}

.events-container {
    width: 1200px;
    border-radius: 8px;
    padding: 20px;
    margin-left: 360px;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 670px;
    background-color: #1e1e1e;
}

.events-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    color: #d1d5da;
}

thead {
    background-color: #201f1f;
    color: #ffffff;
}

thead th {
    padding: 12px;
    text-transform: uppercase;
    font-size: 0.9rem;
    text-align: left;
    letter-spacing: 1px;
    border-bottom: 2px solid #30363d;
    text-align: center;
}

tbody tr {
    transition: background-color 0.3s ease;
}

tbody tr:nth-child(even) {
    background-color: #201f1f;
}
tbody tr:nth-child(odd) {
    background-color: #1e1e1e;
}

tbody tr:hover {
    background-color: #292f3a;
}

td {
    padding: 12px;
    vertical-align: middle;
    border-bottom: 1px solid #30363d;
    text-align: center;
}

.event-link {
    color: #58a6ff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.event-link:hover {
    text-decoration: underline;
}

.event-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 4px;
}

.tier {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    text-align: center;
}

.tier-1 {
    background-color: rgb(19, 119, 33);
    color: #ffffff;
}

.tier-2 {
    background-color: rgb(165, 140, 1);
    color: #ffffff;
}

.tier-3 {
    background-color: rgb(63, 11, 11);
    color: #ffffff;
}

.donkeykong{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.site{
    margin-top: 50px;
}